:root {
  --red1: #ff0202;
  --orange1: #ff3f00;
  --orange2: #ff7700;
  --yellow1: #fab300;
  --salmon: #eb7c68;
  --light-salmon: #55363c;
  --light-yellow: #4c3b39;
  --light-yellow2: #ba865c;
  --dark-blue: #1f1d2b;
  --light-blue:#5d9fde;
  --dark-blue2:#252836;
  --yellow2: #fff1a4;
  --yellow3: #fff9d6;
  --textblack: #0a0909;
  --black: #0a0909;
  --bg: #262837;
  --bg2: #1f1d2c; 
  --textwhite: #fcf9f9;
  --textwhite2: #fcf9f9be;
  --decrease:  #4e2c3a;
  --increase: #384c43;
  --decrease2: #924a61;
}
/* Admin View */
.admin-view {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow-x: hidden;
}
h3 {
  font-size: 1.5em;
  align-self: center;
  color: var(--salmon);
  align-items: center;
}
.admin-view-components {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.employee-register {
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  margin-top: 10px;
  gap: 5px;
  border-radius: 10px;
  background-color: var(--bg2);
}
.employee-register input {
  font-size: 0.7rem;
  height: 35px;
  padding: 5px;
  border-radius: 5px;
  border: 1px outset var(--light-salmon);
  color: var(--textblack);
  background-color: var(--textwhite);
}
.employee-register input:focus {
  outline-style: groove;
  color: var(--textwhite);
  background-color: var(--light-salmon);
}
.employee-register label {
  margin-bottom: 5px;
  font-size: 1rem;
  color: var(--textwhite);
}
.employee-register-select {
  height: 35px;
  padding: 5px;
  margin-bottom: 20px;
  font-size: 0.8em;
  outline: 0;
  cursor: pointer;
  border: 1px outset var(--light-salmon);
  border-radius: 7px;
  transition: all 0.25s ease;
  color: var(--textblack);
  background-color: white;
}
.employee-register-select:focus {
  width: 50%;
  color: var(--textwhite);
  background-color: var(--dark-blue2);;
}
.btn-register {
  width: 60%;
  margin: 5px 0 10px 0;
  padding: 6px;
  font-size: 1rem;
  font-weight: bold;
  align-self: center;
  border-radius: 20px;
  color: var(--bg2);
  background-color: var(--salmon);
}
.btn-register:hover {
  color: var(--textwhite);
  background-color: var(--light-yellow);
}
.employee-register-success {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  width: 35vw;
  height: 60%;
  margin: 5px;
  margin-left: 25px;
  border-radius: 10px;
}
.admin-view-components-list {
  width: 90vw;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 4px;
  margin-top: 20px;
  background-color: var(--bg2);
}
.employee-list-general{
  display: flex;
  flex-direction: column;
}
.employee-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  padding: 5px;
  margin-top: 7px;
  border: 2px outset var(--dark-blue2);
  border-radius: 10px;
}
.employee-card p {
  background-color: var(--light-salmon);
  color: var(--textwhite);
  padding: 4px;
  font-size: 1rem;
  border-radius: 5px 12px 0 0;
}
.employee-card label {
  font-size: 0.9rem;
  color: var(--textwhite);
  margin-bottom: 7px;
}
.employee-card input {
  height: 35px;
  color: var(--textblack);
  font-size: 0.9rem;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 7px;
}
.employee-card input:focus {
  background-color: var(--decrease2);
  color: var(--textwhite);
  outline-style: groove;
}
.employee-list-general button {
  width: 45px;
  height: 35px;
  margin: 3px;
  font-size: 1.1rem;
  border: 1px solid var(--dark-blue2);
  border-radius: 10px;
  color: var(--bg2);
  background-color: var(--salmon);
}

@media only screen and (min-width: 768px) {
  a {
    font-size: 1.2rem;
  }
  .admin-view-components {
    flex-direction: row;
    gap: 15px;
    align-items: flex-start;
  }
  .employee-register {
    height: 60%;
    min-width: 35vw;
    max-width: 35vw;
    margin: 0;
    padding: 10px;
  }
  .employee-register input {
    font-size: 1rem;
  }
  .employee-register label {
    font-size: 1.2rem;
  }
  .employee-register-select {
    font-size: 1rem;
  }
  .admin-view-components-list {
    max-height: 80vh;
    max-width: 55vw;
    min-width: 55vw;
    overflow-y: scroll;
    margin: 0;
    align-items: center;
  }
  .employee-list-general{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    margin-left: 8px;
  }
  .employee-card {
    width: 48%;
  }
}