:root {
    --red1: #ff0202;
    --orange1: #ff3f00;
    --orange2: #ff7700;
    --yellow1: #fab300;
    --yellow2: #fff1a4;
    --yellow3: #fff9d6;
    --textblack: #0a0909;
    --black: #0a0909;
    --textwhite: #fcf9f9;
    --textwhite2: #fcf9f9be;
}
.employee-register {
    width: 45vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background-color:rgb(189, 25, 189);
}
