*{
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  margin:0;
  padding: 0;
  font-size: 1rem;
}

/* ===== Scrollbar CSS =====
  Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color:  #55363c #1f1d2c;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: rgb(95, 94, 94)
  }

 *::-webkit-scrollbar-thumb {
    background-color: #1f1d2c;
    border-radius: 7px;
    border: 1px solid  #55363c ;
  }
