*{
    background-color: aqua;
    box-sizing: border-box;
    font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    margin:0;
    padding: 0;
}
