:root {
  --salmon: #eb7c68;
  --light-salmon: #55363c;
  --light-yellow: #4c3b39;
  --light-yellow2: #ba865c;
  --light-blue:#5d9fde;
  --dark-blue: #1f1d2b;
  --dark-blue2:#252836;
  --yellow2: #fff1a4;
  --textblack: #0a0909;
  --textwhite: #fcf9f9;
  --decrease:  #4e2c3a;
  --increase: #384c43;
  --decrease2: #924a61;
  --bg: #262837;
  --bg2: #1f1d2c; 
  --bg3: #1f1d2b9a;
}
*{
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  margin:0;
  padding: 0;
  font-size: 1rem;
}
h3{
  font-size: 1.5em;
  color: var(--salmon);
  margin: auto;
  text-align: center;
}

/* Scrollbar  */

/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color:  #55363c #1f1d2c;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--dark-blue2)
}

*::-webkit-scrollbar-thumb {
  background-color: var(--bg2);
  border-radius: 7px;
  border: 1px solid  var(--light-salmon) ;
}
