.kitchen-view {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

/*INICIO seccion ordenes a preparar*/
.kitchen-orders-component {
  margin-top: 8px;
  width: 90vw;
  gap: 10px;
  padding: 10px 0 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg2);
}
.kitchen-orders{
  width: 95%;
  padding: 10px;
  border: 2px outset var(--dark-blue2);
  border-radius: 10px;
  color: var(--textwhite);
  background-color: var(--bg2);
}
.kitchen-orders-card-body{
  padding: 0;
}
.card-details-1{
  padding-bottom: 15px;
}
.card-title {
  border-radius: 5px 12px 0 0;
  background-color: var(--light-salmon);
  align-self: center;
}
.kitchen-orders button{
  width: 50%;
  margin-left: 50%;
  border: none;
  color: var(--textwhite);
  background-color: var(--cooking-ready);
}
.kitchen-orders button:hover{
  background-color: var(--cooking-ready-letter);
}
/*FIN seccion ordenes a preparar*/

@media only screen and (min-width: 768px) {
  .kitchen-orders-component {
    margin-top: 5px;
  }
  .kitchen-orders{
    width: 75%;
    padding: 15px 0 10px 0;
  }
  .kitchen-orders-card-body{
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 55vw;
  }
  .card-details-1{
    width: 55%;
    padding-right: 20px;
  }
  .card-details-2{
    width: 45%;
  }
  .card-title {
    width: 90%;
  }
  .kitchen-orders button{
    width: 25%;
    margin-left: 66%;
  }
}