:root{
  --red1:#FF0202;
  --orange1:#FF3F00;
  --orange2:#FF7700;
  --yellow1:#FAB300;
  --yellow2:#FFF1A4;
  --yellow3:#FFF9D6;
  --textblack:#0A0909;
  --black:#0a0909;
  --textwhite:#FCF9F9;
  --textwhite2:#fcf9f9be;
}
.login-view{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--black);
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow-x: hidden;
}
.login-pic {
  width: 0vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-pic img{
  width: 0px;
  height: 0px;
}
.login-form {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 10px 0px var(--orange2);
  /* padding: 4rem;  */
  /* border-radius: 10px; */
  /* opacity: 10; */
  /* font-weight: bold;
  transition: 2s;
  color : white; */
}
.login-logo{
  margin: 0, 200px, 0, 200px;
  box-shadow: 0px 0px 10px 0px var(--orange2);
  margin-bottom: 30px;
}
.login-logo img{
  width: 250px;
  height: 100px;

}
.login-error {
  color: white;
}
/* 
h2 {
  background-color: transparent;
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
  margin-bottom: 1rem;
}

input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #FF7700;
  color: white;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  width: 50vh;
  align-content: center;
}

button {
  background-color: #ff7700;
  margin-top: 25px;
  border-bottom: #fff solid 1px;
  border-radius: 10px;
  width: 45%;
  height: 30px;
  font-size: 0.9rem;
  color: #fff;
  font-weight: bold;
} */
@media only screen and (min-width: 500px) {
  .login-pic {
    width: 65vw;
  }
  .login-pic img{
    width: 600px;
    height: 500px;
  }
  .login-form {
    width: 35vw;
  }
}
