*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
} 

html {
  background-color: rgb(8, 6, 10);
  
  /* background-image: url(../assets/images/loginBag.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow-x: hidden;
  opacity: 10;
  transition: 2s; */
}

.login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 1;
  right: 0;
  font-size: 1rem;
  background-color: rgba(7, 4, 4, 0.781);
  border-radius: 10px;
  padding: 4rem; 
  box-shadow: 0px 0px 10px 0px #FF7700;
  width: 40%;
  height: 100%;
  opacity: 10;
  font-weight: bold;
  transition: 2s;
  color : white;
}

h2 {
  background-color: transparent;
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
  margin-bottom: 1rem;
}

.spanCss {
  color: white;
  z-index: 2;
}

input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #FF7700;
  color: white;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  width: 50vh;
  align-content: center;
}

button {
  background-color: #ff7700;
  margin-top: 25px;
  border-bottom: #fff solid 1px;
  border-radius: 10px;
  width: 45%;
  height: 30px;
  font-size: 0.9rem;
  color: #fff;
  font-weight: bold;
}
