:root {
  --red1: #ff0202;
  --orange1: #ff3f00;
  --orange2: #ff7700;
  --yellow1: #fab300;
  --yellow2: #fff1a4;
  --yellow3: #fff9d6;
  --textblack: #0a0909;
  --black: #0a0909;
  --textwhite: #fcf9f9;
  --textwhite2: #fcf9f9be;
}
.waiter-view {
  width: 100vw;
  height: 100vh;
  background-color: var(--black);
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow-x: hidden;
}
.waiter-kitchen-nav{
  background-color: var(--black);
}
.waiter-kitchen-nav-img {
  width:120px;
  height:50px;
}
.waiter-kitchen-nav-toggle {
  width: 20%;
  height: 25%;
  border: none;
  align-items: center;
  background-color: var(--orange2);
}
.waiter-kitchen-nav-dir{
  width: 100%;
  height: 100%;
  gap: 8%;
}
.waiter-kitchen-nav-dir a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  color: var(--yellow1);
  text-decoration: none;
  padding: 6px;
  font-size: 1em;
}
.waiter-kitchen-nav-dir a:hover {
  color: var(--textwhite);
}
.waiter-kitchen-nav-dir .fa-right-from-bracket {
  color: var(--orange2);
  text-decoration: none;
  padding: 10px;
  font-size: 1.4em;
  float: left;
}
.logout-btn {
  border: none;
  background-color: transparent;
}
.waiter-kitchen-selected-component{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--black);
  color: var(--textwhite);
}
.waiter-accordion {
  margin-top: 8px;
  max-width: 90vw;
}
.accordion-button {
  min-width: 90vw;
  max-width: 90vw;
  font-family:'verdana', sans-serif;
  font-weight: bold;
  color: var(--black);
  background-color: var(--orange2);
}
.accordion-button:focus {
  min-width: 90vw;
  max-width: 90vw;
  box-shadow: 0px 0px 6px 0px var(--yellow1);
}
.accordion-button:not(.collapsed){
  color: var(--black);
  background-color: var(--yellow2);
}
.waiter-accordion-body {
  min-width: 90vw;
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--black);
}
.waiter-acordion-product {
  display: flex;
  justify-content: center;
  align-items: center;
}
.waiter-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  color: var(--textwhite);
}
.waiter-card img{
  width: 130px;
}
.waiter-card-body{
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 15px;
  min-width: 90%;
  max-width: 90%;
}
.waiter-card-body p{
  font-size: 15px;
}
.waiter-add-btn {
  border: none;
  padding: 3px;
  border-radius: 15px;
  background-color: var(--yellow2);
  color:  var(--black);
}

/*INICIO seccion pedidos a facturar*/
.waiter-order-container {
  margin-top: 20px;
  width: 90vw;
  min-height: 60vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  border: 1px solid var(--orange2);
  background-color: transparent;
}
.waiter-order-container p {
  font-size: 1.5em;
  color: var(--yellow1);
}
.waiter-order-container-input {
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 10px;
  
}
.waiter-order-products {
  height: 100px;
  width: 100%;
}
.waiter-order-products-text {
  font-size: 9px;
}
.btn-info {
  border: none;
  background-color: var(--yellow2);
}
.waiter-order-products-btns-qty {
  display: flex;
  height: 81px;
}
.waiter-order-products button {
  width: 20px;
  height: 20px;
}
/*FIN seccion pedidos a facturar*/

/*INICIO seccion pedidos Pending*/
.waiter-orders-pending, .waiter-orders-to-serve {
  background-color: var(--black);
  border: 1px solid var(--orange2);
  margin-left: 10px;
  text-align: center;
  color: var(--yellow1);
  padding: 25px;
  width: 90vw;
}
.waiter-orders-to-serve .btn {
  background-color: var(--yellow2);
  color: var(--black);
  border: none;
  padding: 5px;
  font-size: 1em;
  border-radius: 10px;
}
/*FIN de la seccion pedidos pending*/

.waiter-orders-total {
  background-color: var(--black);
  border: 1px outset var(--orange2);
  justify-content: center;
  text-align: center;
  font-size: 1.1em;
  color: var(--textwhite);
  padding: 10px;
  width: 10%; 
}
.waiter-card-body-orders {
  background-color: var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: none;
}

@media only screen and (min-width: 768px) {
  .waiter-kitchen-nav {
    height: 10vh;
    margin-top: 15px;
    /* display: flex;
    justify-content: space-between; */
  }
  .waiter-kitchen-nav-img {
    width:150px;
    height:70px;
  }
  .waiter-kitchen-nav-dir {
    display: flex;
    justify-content: flex-end;
  }
  .waiter-kitchen-nav-dir a {
    padding: 20px;
    justify-content: center;
    gap: 10px;
  }
  .waiter-kitchen-selected-component{
    margin-top: 40px;
    flex-direction: row;
    align-items: flex-start;
  }
  .waiter-accordion-body {
    flex-direction: row;
    align-items: flex-start;
    min-width: 45vw;
    max-width: 45vw;
  } 
  .waiter-card {
    flex-direction: row;
    gap: 30px;
    padding: 15px;
  }
  .waiter-card-body{
    flex-direction: column;
    gap: 3px;
    min-width: 35%;
    max-width: 35%;
  }
  .waiter-accordion {
    max-width: 45vw;
    min-width: 45vw;
  }
  .accordion-button {
    min-width: 45vw;
    max-width: 45vw;
  }
  .accordion-button:focus {
    min-width: 45vw;
    max-width: 45vw; 
  }
  .waiter-order-container {
    margin-top: 5px;
    margin-left: 20px;
    width: 45vw;
    height: 60%;
  }
  .waiter-order-products {
    width: 80%;
  }
  .waiter-orders-pending {
    min-width: 45vw;
    max-width: 45vw;
  }
  .waiter-orders-to-serve {
    min-width: 45vw;
    max-width: 45vw;
  }
  .waiter-orders-total {
    min-width: 45vw;
    max-width: 45vw;
  }
}
