:root {
  --red1: #ff0202;
  --orange1: #ff3f00;
  --orange2: #ff7700;
  --yellow1: #fab300;
  --yellow2: #fff1a4;
  --yellow3: #fff9d6;
  --textblack: #0a0909;
  --black: #0a0909;
  --textwhite: #fcf9f9;
  --textwhite2: #fcf9f9be;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 100%;
  background-color: var(--black);
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  padding: 10px;
  margin: 10px;
}
.card-body{
  background-color: var(--black);
  color: var(--textwhite);
}

.card-title {
  font-size: 17px;
  color: var(--red1)
}

.card-text {
  font-size: 10px;
  color: var(--red1);
}


.accordion-body {
  background-color: var(--black);
}
.waiter-add-btn {
  background-color: var(--yellow2);
  color: black;
  width: 95px;
}
.waiter-view {
  width: 100vw;
  height: 100vh;
  background-color: black;
}
.toggle {
  width: 70px;
  height: 45px;
  border: none;
  align-items: center;
  color: azure;
}

/* // REVISAAAAAR */
/* .waiter-accordion {
  background-color: black;
} */

.accordion-button {
  background-color: #adadad;
  height: 30px;
  color: white;
}
.accordion-button:focus {
  background-color: #33312d;
  color: var(--textwhite);
  box-shadow: 0px 0px 10px 0px var(--orange1);
}

.container-waiter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: red;
}

/*SECCION DE PEDIDOS LISTA PARA FACTURAR*/
.container-order {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 370px;
  border-radius: 10px;
  height: 20vh;
  background-color: greenyellow;
}


@media only screen and (min-width: 576px) {
  .waiter-nav-mobile {
    background-color: var(--black);
  }

  .accordion-header {
    width: 400px;
  }
  .accordion-body {
    width: 400px;
  }

  .waiter-accordion {
    margin-top: 8px;
    width: 400px;
  }
}
