:root {
  --red1: #ff0202;
  --orange1: #ff3f00;
  --orange2: #ff7700;
  --yellow1: #fab300;
  --salmon: #eb7c68;
  --light-salmon: #55363c;
  --light-yellow: #4c3b39;
  --light-yellow2: #ba865c;
  --dark-blue: #1f1d2b;
  --light-blue:#5d9fde;
  --dark-blue2:#252836;
  --yellow2: #fff1a4;
  --yellow3: #fff9d6;
  --textblack: #0a0909;
  --black: #0a0909;
  --bg: #262837;
  --bg2: #1f1d2c; 
  --textwhite: #fcf9f9;
  --textwhite2: #fcf9f9be;
  --decrease:  #4e2c3a;
  --increase: #384c43;
  --decrease2: #924a61;
}
.waiter-view {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow-x: hidden;
}
h3{
  font-size: 1.5em;
  color: var(--salmon);
  margin: 0;
}

/*INICIO navbar*/
.general-nav {
  background-color: var(--bg2);
  padding: 8px 8px 0 8px;
}
.general-nav-img {
  padding: 10px;
  width: 100px;
  height: 100px;
}
.general-nav-toggle {
  width: 20%;
  height: 25%;
  border: none;
  align-items: center;
  background-color: var(--salmon);
}
.general-nav-dir {
  width: 100%;
  height: 100%;
  align-items: flex-end;
}
.general-nav-dir a {
  color:  var(--textwhite);
  text-decoration: none;
  padding: 4px;
}
.general-nav-dir a:hover {
  color: var(--salmon);
}
.general-nav-dir a:active:before{
  color: var(--salmon);
}
.general-nav-dir .fa-right-from-bracket {
  padding: 8px;
  float: left;
  font-size: 1.4em;
  text-decoration: none;
  color: var(--salmon);
}
.logout-btn {
  border: none;
  background-color: transparent;
}
/*FIN navbar*/

/*INICIO seccion general de seleccion de nav*/
.general-selected-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg);
  color: var(--textwhite);
  overflow-x: scroll;
}
/*FIN seccion general de seleccion de nav*/

/*INICIO seccion productos disponibles*/
.waiter-accordion {
  margin-top: 8px;
  max-width: 90vw;
}
.accordion-button {
  min-width: 90vw;
  max-width: 90vw;
  font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
  font-weight: bold;
  color: var(--bg2);
  background-color: var(--salmon);
}
.accordion-button:focus {
  min-width: 90vw;
  max-width: 90vw;
  box-shadow: 0px 0px 6px 0px  var(--textwhite);
}
.accordion-button:not(.collapsed) {
  color: var(--textwhite);
  background-color: var(--light-salmon);
}
.waiter-accordion-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 90vw;
  max-width: 90vw;
  background-color: var(--bg2);
}
.waiter-acordion-product {
  display: flex;
  justify-content: center;
  align-items: center;
}
.waiter-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  min-width: 85vw;
  color: var(--textwhite);
}
.waiter-card img {
  width: 4.5rem;
}
.waiter-card p {
  font-size: 1rem;
}
.waiter-add-btn {
  font-size: 0.8rem;
  background-color: var(--salmon);
  border: none;
  padding: 3px;
  border-radius: 10px;
  color: var(--bg2);
  font-weight: bold;
}
/*FIN seccion productos disponibles*/

/*INICIO seccion pedidos a facturar*/
.waiter-order-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  margin-top: 15px;
  padding: 5px;
  padding-top: 15px;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid var(--salmon);
  background-color: var(--bg2);
}
.waiter-order-container-input {
  border-radius: 10px;
  padding: 5px;
}
.waiter-order-products {
  display: flex;
  justify-content: center;
  min-width: 75vw;
  height: 100%;
}
.waiter-order-products td{
  padding: 0 2px 0 2px;
  margin-top: 15px;
  align-items: baseline;
}
.waiter-order-products-img {
  width: 3.5rem;
}
.waiter-order-products-text {
  font-size: 0.7rem;
}
.waiter-order-products-btns-qty {
  display: flex;
  justify-content: baseline;
  align-items: center;
  gap: 5px;
  height: 20px;
}
.waiter-order-products-btns-qty p {
  font-size: 0.7rem;
}
.btn-decrease{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 17px;
  width: 17px;
  border-radius: 50px;
  border: none;
  background-color: var(--decrease);
  color: var(--textwhite);
}
.btn-increase{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 17px;
  width: 17px;
  border-radius: 50px;
  border: none;
  background-color: var(--increase);
  color: var(--textwhite);
}
.btn-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid var(--light-salmon);
  border-radius: 5px;
  color: var(--salmon);
  padding: 5px;
}
.btn-delete:hover {
  background-color: #eb7c68;
}
.btn-order-request{
  font-weight: bold;
  background-color: var(--salmon);
  color: var(--bg2);
}
/*FIN seccion pedidos a facturar*/

/*INICIO seccion pedidos Pending*/
.waiter-orders-pending {
  width: 90vw;
  padding: 15px 15px 0 15px;
  margin-top: 8px;
  gap: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  color: var(--textwhite2);
  background-color: var(--bg2) ;
}
.waiter-orders-pending-card{
  padding: 0;
  align-items: center;
  color: var(--textwhite);
  list-style: none;
}
.card-header {
  background-color: var(--light-salmon);
  align-self: center;
}
.card-header:first-child{
  border-radius: 5px 12px 0 0;
}
.card-body-status-pending { 
  width: 55%;
  padding: 5px;
  color: var(--light-blue);
  background-color: var(--dark-blue2);
}
/*FIN de la seccion pedidos pending*/

/*INICIO seccion pedidos Delivering*/
.waiter-orders-to-serve {
  width: 90vw;
  margin-top: 15px;
  padding: 15px;
  gap: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  overflow-x: hidden;
  border: none;
  background-color: var(--bg2);
}
.waiter-orders-to-serve tr, th, td {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.8rem;
  color: var(--textwhite);
  vertical-align: middle;
}
.waiter-orders-to-serve .btn {
  padding: 5px;
  font-size: 1em;
  border-radius: 10px;
  border: none;
  color: var(--light-yellow2);
  background-color: var(--light-yellow);
}
/*FIN seccion pedidos Delivering*/

/*INICIO seccion pedidos Delivered*/
.waiter-orders-table{
  max-width: 80vw;
  margin: 15px 10px 15px 10px;
  color: var(--textwhite);
  background-color: var(--bg2);
}
.delivered-thead th {
  font-size: 0.58rem;
  background-color: var(--light-salmon);
}
.delivered-tbody td {
  font-size: 0.58rem;
}
/*FIN seccion pedidos Delivered*/

@media only screen and (min-width: 768px) {
  .general-nav {
    display: flex;
    justify-content: space-evenly;
    height: 12vh;
    padding: 0 50px 0 50px;
  }
  .general-nav-container{
    height: 12vh;
  }
  .general-nav-img {
    padding: 35px;
    width: 130px;
    height: 130px;
  }
  .general-nav-dir {
    justify-content: space-evenly;
    align-items: center;
    height: 12vh;
  }
  .general-nav-dir a {
    display: flex;
    align-items: center;
    height: 12vh;
  }
  .general-selected-component {
    margin-top: 15px;
    flex-direction: row;
    align-items: flex-start;
    overflow-x: hidden;
  }
  .waiter-accordion {
    margin-top: 5px;
    max-width: 45vw;
    min-width: 45vw;
  }
  .accordion-button {
    min-width: 45vw;
    max-width: 45vw;
  }
  .accordion-button:focus {
    min-width: 45vw;
    max-width: 45vw;
  }
  .waiter-accordion-body {
    flex-direction: row;
    align-items: flex-start;
    min-width: 45vw;
    max-width: 45vw;
  }
  .waiter-card {
    flex-direction: row;
    min-width: 40vw;
    gap: 15px;
  }
  .waiter-add-btn{
    font-size: 1rem;
  }
  .waiter-order-container {
    padding-top: 15px;
    margin-top: 5px;
    margin-left: 20px;
    width: 45vw;
    min-height: 65vh;
  }
  .waiter-order-products {
    min-width: 43vw;
  }
  .waiter-order-products td{
    padding: 0 9px 0 9px;
  }
  .waiter-order-products-img {
    width: 4rem;
  }
  .waiter-order-products-text {
    font-size: 1rem;
  }
  .btn-decrease{
    height: 22px;
    width: 22px;
  }
  .btn-increase{
    height: 22px;
    width: 22px;
  }
  .waiter-orders-pending  {
    min-height: 80vh;
    max-height: 80vh;
    min-width: 50vw;
    max-width: 50vw;
    margin: 5px 0 0 10px;
    overflow-y: scroll;
  }
  .waiter-orders-pending-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .waiter-orders-pending-card{
    width: 48%;
  }
  .card-body-status-pending { 
    width: 90%;
  }
  .waiter-orders-to-serve {
    min-height: 80vh;
    max-height: 80vh;
    margin: 5px 10px 0 10px;
  }
  .waiter-orders-to-serve tr, th, td {
    font-size: 1rem;
  }
  .delivered-thead th {
    font-size: 1rem;
  }
  .delivered-tbody td {
    font-size: 1rem;
  }
}
